*{
  font-family: verdana;
}

#header{
  display: flex;
  justify-content: center;
  align-items: center;
}

#mainWrap{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main{
  display: flex;
  width: 80%;
  flex-direction: row;
}

.row{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.name{
  display: flex;
  width: 30%;
  font-size: 24px;

}

.description{
  display: flex;
  width: 60%;
}

.price{
  display: flex;
  width: 10%;
}

#subtotal{
  display: flex;
  width: 80%;
  margin-left: 82%;
  border-top: 2px solid black;
}