#mainWrap{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main{
  display: flex;
  width: 80%;
  flex-direction: row;
}

.row{
  display: flex;
  flex-direction: row;
}