#mainWrap{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main{
  display: flex;
  width: 80%;
  flex-direction: row;
}

.row{
  display: flex;
  width: 100%;
  flex-direction: row;
}

.name{
  display: flex;
  width: 30%;
}

.description{
  display: flex;
  width: 60%;
}

.price{
  display: flex;
  width: 10%;
}